# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
#  Usually these files are written by a python script, and contain the binary number of cells.
#  ... (Standard Python ignores)

.env
.venv
env/
venv/
ENV/

# PyCharm / VS Code
.idea/
.vscode/

# --- PROYECTO ESPECÍFICO ---

# Multimedia y Renders de Manim (Evita subir GB de videos)
media/
video/
images/

# Archivos temporales de simulación
simulacion/params.json

# macOS
.DS_Store
